body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0040ff, #000066);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #1c48e2;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    width: 400px;
    border: 1px solid white;
}

.container h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 85%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.bottom-text {
    margin-top: 15px;
    color: #e1e1e1;
    font-size: 14px;
}

.bottom-text a {
    color: #fff;
    text-decoration: underline;
}
